<section class="bg-zinc-900 p-20 reounded-xl my-4 text-center">

    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque rerum in qui, maiores ullam cupiditate modi quis ducimus error tempora laudantium fuga amet iste sapiente nobis esse animi eos distinctio?</p>
</section>
